* {
    background-color: black;
}
.lista_navegacion {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration-color: white;
    color: white;
    text-align: left;
    text-decoration: none;


}
.home{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    color: white;


}
i {
    color: white;
}
