* {
    background-color: black;
}
.lista_navegacion {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    text-color: white;
    text-align: left;

}
i {
    color: white;
}
