* {
    background: black;
    background-color: black;
    padding: 0;
    margin: 0;
}
.navegacion {
    display: grid;
    align-items: center;
    justify-content: center;
    position: fixed;
    font-size: 40px;
    width: 60px;
    height: 100%;
    background: black;
}
a {
    color: white;
}
.home{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    color: white;
}
.nombre {
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    font-size: 80px;
}
.oficio {
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
    font-size: 30px;
}
.sobre_mi {
display: flex;
flex-wrap: wrap;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 5rem;
}
.titulo_descripcion {
    display: flex;
    flex-direction: column;
    justify-content: start;
    color: white;
    font-family: Quicksand, sans-serif;
    font-weight: 300;
    font-size: 40px;
}
.descripcion {
    display: flex;
    flex-wrap: wrap;
    box-sizing: content-box;
    text-justify: auto;
    font-size: 16px;
    color: white;
    padding: 3rem;
}
.lista_lenguajes {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 2rem;
    margin: 1rem;
    font-family: Quicksand, sans-serif;
    font-weight: 300;
    font-size: 40px;
    color: white;
}
.lenguaje {
    display: inline-grid;
    justify-content: center;
    align-items: center;
    list-style: none;
    font-size: 40px;
    color:white;
    margin: 2rem;
}
.portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: Quicksand, sans-serif;
    font-weight: 300;
    font-size: 40px;
    padding: 6rem;
}
.lista_proyectos {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}
.proyecto {
    list-style: none;
    justify-content: center;
    align-content: center;
    margin: 1rem;
    width: 200px;
    height: 300px;
    border: 2px solid #FFFFFF;
    border-radius: 5px;
}
.titulo_contacto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: Quicksand, sans-serif;
    font-weight: 300;
    font-size: 40px;
}
.contacto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    color: white;
    padding: 6rem;
    gap: 20px;
}
input.name {
    border-radius: 2px;
    background: white;
    width: 350px;
}
input.email {
    border-radius: 2px;
    background: white;
    width: 350px;
}
.mensaje {
    border-radius: 2px;
    background: white;
    width: 350px;
    height: 150px;
}
.boton {
    background-color: black;
    width: 350px;
    height: 40px;
    color: white;
    font-family: Quicksand, sans-serif;
    border-radius: 30px;
    border-color: red;
}
i.bi.bi-send {
    background-color: inherit;
}
i.bi.bi-send:hover {
    background-color: inherit;
}
.boton:hover {
    background-color: red;
}
footer {
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    padding: 3rem;
}